.list-item{
    list-style-type:none;
    display:flex;
    align-items:center;
    padding:20px;
    
}
.time{
    font-family:"Roboto";
    color:#475569;
    font-size:14px;
    font-weight:800;
}
.app-logo{
    width:20px;
    height:20px;
    margin:20px;
}
.title{
    color:#475569;
    font-family:"Roboto";
    font-size:14px;
    font-weight:800;
}
.domain-url{
    color:#64748b;
    font-family:"Roboto";
    font-size:14px;
    font-weight:800;
    margin-left:10px;
}
.delete-icon{
    width:20px;
    height:20px;
    margin-left:auto;
    margin-right:20px;
}

